# PRでEditorConfigのルールに反するものをチェックします
# https://github.com/pascalgn/automerge-action
---
name: EditorConfig Checker

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  editorconfig:
    runs-on: ["{{ github_runner_scale_set_name or 'ubuntu-latest' }}"]
    # 6時間も待たされないようにタイムアウトを設定
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: editorconfig-checker/action-editorconfig-checker@main
      - run: editorconfig-checker

defaults:
  run:
    # デフォルトシェルを定義して、pipefailオプションが全ステップで有効にする
    # https://gihyo.jp/article/2024/10/good-practices-for-github-actions
    shell: bash

# 連続してpushした際に、一つ前の実行中のjobが停止するようにする
# https://zenn.dev/katzumi/articles/using-concurrency-at-github-actions
concurrency:
  group: ${{ '{{' }} github.workflow {{ '}}' }}-${{ '{{' }} github.ref {{ '}}' }}
  cancel-in-progress: true
