name: "Run TODO to Issue"

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ["{{ github_runner_scale_set_name if github_runner_scale_set_name != None else 'ubuntu-latest' }}"]
    steps:
      - uses: "actions/checkout@v4"
      - name: "TODO to Issue"
        uses: "alstr/todo-to-issue-action@v4"

defaults:
  run:
    # デフォルトシェルを定義して、pipefailオプションが全ステップで有効にする
    # https://gihyo.jp/article/2024/10/good-practices-for-github-actions
    shell: bash

# 連続してpushした際に、一つ前の実行中のjobが停止するようにする
# https://zenn.dev/katzumi/articles/using-concurrency-at-github-actions
concurrency:
  group: ${{ '{{' }} github.workflow {{ '}}' }}-${{ '{{' }} github.ref {{ '}}' }}
  cancel-in-progress: true
