# ToDoコメントがあるコードをissueにします
---
name: TODO to Issue

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ["{{ github_runner_scale_set_name or 'ubuntu-latest' }}"]
    # 6時間も待たされないようにタイムアウトを設定
    timeout-minutes: 5
    steps:
      - uses: "actions/checkout@v4"
      - name: "TODO to Issue"
        uses: "alstr/todo-to-issue-action@v4"

defaults:
  run:
    # デフォルトシェルを定義して、pipefailオプションが全ステップで有効にする
    # https://gihyo.jp/article/2024/10/good-practices-for-github-actions
    shell: bash
